h1{
    color: black;
    background-color: blue;
    }

img{
    height: 300px;
    width: 300px;
}
p{
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;


}

*{
    background-color: pink;
}